/* Jonathan gleyze
   v1.0 
   License: none (public domain)
*/

/* Personalisation of the demo page */

body{
	background-color: #545454;
}

/* END */


/* Notification main background box */
.notification{
	content: "";
	background-color: #FB3A3A;
	margin: 10px 15px 10px 15px;
	height: 50px;
	width: 97.5%;
	border-radius: 5px;
	line-height: 50px;
	box-shadow: 1px 1px 12px #555;
	color: white;
	padding-left: 10px;
	float: 	left;
}


/* END */

.notification > strong{
	font-size: 	1.2em;
	font-family: 'Open Sans';
}

.notification > a{
	float: 	right;
	line-height: 50px;
	margin-right: 20px;
	text-align:center;
	display:block;
	height: 50px;
	margin:16px 25px 0 0;
	color: white;
}